{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}


<br><br><br>
<div class="box">
            <div class="form">
                <h2>Iniciar Sesión</h2>
                <form method='POST'>
                    {% csrf_token %}
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form }}
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-warning">Registrar <a href="{% url 'link:registro' %}">Usuario</a></button>
                        <button type="submit" class="btn btn-danger btn-user btn-block">Iniciar sesión</button>
                    </div>
                    {% if user.is_authenticated %}
                        <p>Welcome, You are logged in as {{ user.username }}</p>
                        {% else %}
                        
                    {% endif %}
                </form>
            </div>
</div>
{% block js %}
<script>
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                  mensaje('{{ error|escape }}','red');
                {% endfor %}
            {% endif %}
        {% endfor %}
    
        {% if form.non_field_errors%}
            {% for error in form.non_field_errors %}
              mensaje('{{ error|escape }}','red');
            {% endfor %}
        {% endif %}
    {% endif %}
  </script>

{% endblock js %}

{% endblock %}