{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Transportes JR</title>
        
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        
        {% block css %}
        <link rel="stylesheet" href="{% static 'base/css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/estiloo.css' %}">
        <link rel="stylesheet" href="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% endblock %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body>

<!--         <div class="navigation">
            <div class="toggle" ><span></span></div>
            <ul>
                     {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'bases:logout' %}">Cerrar Sesión</a>
                        </li>
                        <li>
                            <a href="#">@{{ user.username }}</a>
                        </li>
                     {% else %}
                        <li>
                            <a href="{% url 'bases:login' %}">Iniciar Sesión</a>
                        </li>
                        <li>
                            <a href="{% url 'link:registro' %}">Registrate</a>
                        </li>
                     {% endif %}
                {% if perms.link %}
                <li>
                    
                    <a href="#" id="left" onclick="uno()">Bodega</a>
                    {% if perms.link.view_bodega %}
                    <div id="despliegue" class="despliegue">
                        <a href="#">Ingreso Bodega</a>
                         <a href="#">Salida Bodega</a>
                    {% endif %}
                       
                        <a href="{% url 'link:consulta' %}">Consulta de Guías</a>
                    </div>
                </li>
                {% endif %}
                {% if perms.link %}
                <li>
                    <a href="#" id="left" onclick="dos()">Guias</a>
                    <div id="despliegue2" class="despliegue">
                        <a href="#">Ingreso de Guías</a>
                        <a href="#">Modificación de Guías</a>
                        <a href="#">Emilinación de Guías</a>
                        <a href="{% url 'link:consulta' %}">Consulta de Guías</a>
                    </div>
                </li>
                {% endif %}
                {% if perms.link %}
                <li>
                    <a href="#" id="left" onclick="tres()">P.O.D</a>
                    <div id="despliegue3" class="despliegue">
                    
                        <a href="#"> <i class="fas fa-plus-square"></i>  P.O.D</a>
                        <a href="#"> <i class="far fa-edit"></i>  P.O.D</a>
                        <a href="{% url 'link:consulta' %}"> <i class="fas fa-search"></i></a>
                    </div>
                </li>
                {% endif %}
                {% if perms.link %}
                <li>
                    <a href="#" id="left" onclick="cuatro()"><i class="fas fa-chart-bar"></i> </a>
                    <div id="despliegue4" class="despliegue">
                        <a href="#">Reporte por Fecha</a>
                        <a href="#">Reporte por Forma de pago</a>
                        <a href="#">Reporte por Cliente</a>
                        <a href="{% url 'link:consulta' %}">Consulta de Guías</a>
                    </div>
                </li>
                {% endif %}
                {% if perms.link %}
                <li>
                    <a href="#" id="left" onclick="cinco()"><i class="fas fa-cogs"></i></a>
                   
                    <div id="despliegue5" class="despliegue">
                        <a href="{% url 'link:departamento_list' %}"><i class="fas fa-plus"></i> Departamento</a>
                        <a href="{% url 'link:municipio_list' %}"><i class="fas fa-plus"></i> Municipio</a>
                        <a href="{% url 'link:piloto_list' %}"> <i class="fas fa-plus"></i> Pilotos</a>
                        <a href="{% url 'link:ruta_list' %}"> <i class="fas fa-plus"></i> Rutas</a>
                        <a href="{% url 'link:tarifario_list' %}"> <i class="fas fa-plus"></i> Tarifario </a>
                        <a href="{% url 'link:vendedor_list' %}"> <i class="fas fa-plus"></i> Vendedor</a>
                        <a href="#"> <i class="fas fa-plus"></i> Cliente</a>
                        <a href="#"> <i class="fas fa-plus"></i> Boletas de Deposito</a>
                        

                        {% if perms.zelda.add_registro %}
                        <a href="{% url 'zelda:registro_list' %}" id="left" onmouseover="seis()"> <i class="fas fa-gas-pump"></i> Listado de Facturas </a>
                        {% endif %}
                        <div id="despliegue6" class="despliegue_sub">
                        </div>
                       
                        <a href="{% url 'link:consulta' %}">Consulta de Guías</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div> -->
        <div id="navbar">
            <div class="elements">
                <div class="navigation">
                    <ul>
                      <li class="list home">
                        <a href="#">
                          <span class="icon"><i class="fas fa-home"></i></span>
                          <ul class="despliegue">
                            <li><a href="{% url 'link:ingreso_bodega' %}"> <i></i> Ingreso Bodega</a></li>
                            <li><a href="#">Modificación de Guías</a></li>
                            <li><a href="#">Emilinación de Guías</a></li>
                            <li><a href="{% url 'link:consulta' %}">Consulta de Guías</a></li>
                          </ul>
                        </a>
                      </li>
                      <li class="list file">
                        <a href="#">
                          <span class="icon"><i class="fas fa-file"></i></span>
                          <ul class="despliegue">
                            <li><a href="{% url 'link:ingresonew' %}"> <i></i> Ingreso de Guías</a></li>
                            <li><a href="#">Modificación de Guías</a></li>
                            <li><a href="#">Emilinación de Guías</a></li>
                            <li><a href="{% url 'link:consulta' %}">Consulta de Guías</a></li>
                          </ul>
                        </a>
                      </li>
                      <li class="list">
                        <a href="#">
                          <span class="icon"><i class="fas fa-camera"></i></span>
                        </a>
                      </li>
                      <li class="list">
                        <a href="#">
                          <span class="icon"><i class="fas fa-comment"></i></span>
                        </a>
                      </li>
                      <li class="list">
                        <a href="#">
                          <span class="icon"><i class="fas fa-chart-bar"></i></span>
                        </a>
                      </li>
                      <li class="list cogs">
                        <a href="#">
                          <span class="icon"><i class="fas fa-cogs"></i></span>
                          <ul class="despliegue">
                            <li><a href="{% url 'link:departamento_list' %}"><i class="fas fa-plus"></i>&nbsp; Departamento</a></li>
                            <li><a href="{% url 'link:municipio_list' %}"><i class="fas fa-plus"></i>&nbsp; Municipio</a></li>
                            <li><a href="{% url 'link:piloto_list' %}"> <i class="fas fa-plus"></i>&nbsp; Pilotos</a></li>
                            <li><a href="{% url 'link:ruta_list' %}"> <i class="fas fa-plus"></i>&nbsp; Rutas</a></li>
                            <li><a href="{% url 'link:tarifario_list' %}"> <i class="fas fa-plus"></i>&nbsp; Tarifario </a></li>
                            <li><a href="{% url 'link:vendedor_list' %}"> <i class="fas fa-plus"></i>&nbsp; Vendedor</a></li>
                            <li><a href="{% url 'link:cliente_list' %}"> <i class="fas fa-plus"></i>&nbsp; Cliente</a></li>
                            <li><a href="#"> <i class="fas fa-plus"></i>&nbsp; Boletas de Deposito</a></li>
                          </ul>
                        </a>
                      </li>
                      <li class="list combu">
                        <a href="#">
                          <span class="icon"><i class="fas fa-box"></i></span>
                          <ul class="despliegue">
                            <li>
                              <a href="{% url 'zelda:registro_list' %}" id="left" onmouseover="seis()"> <i class="fas fa-gas-pump"></i> Listado de Facturas </a>
                            </li>
                          </ul>
                        </a>
                      </li>
                   <div class="indicator"></div>
                    </ul>
                   </div> 
            </div>
            <div class="user">
              {% if user.is_authenticated %}
              <span id="userName">{{ user.username }}</span>&nbsp;&nbsp;<a title="Salir de la sesión" href="{% url 'bases:logout' %}"><i class="fas fa-sign-out-alt"></i></a>

              {% else %}
              <span id="userName"><a href="{% url 'bases:login' %}">Iniciar Sesión</a></span>&nbsp;&nbsp;<i class="fas fa-user-alt"></i>
              <span id="userName"><a href="{% url 'link:registro' %}">Registrate</a></span>&nbsp;&nbsp;<i class="fas fa-user-alt"></i>
              {% endif %}
            </div>
         </div>
        <section id="home"></section>
        <script>
        //  Añade el active al icono que se esté clickeando
        const list=document.querySelectorAll(".list");
        function activeLink(){
            list.forEach((item)=>
              item.classList.remove("active")
            );
            this.classList.add("active");
        }
        list.forEach((item)=>
          item.addEventListener("click",activeLink)
        );
        
        // Esconde y muestra el navbar
        $(document).ready(function(){
            // Si el mouse está sobre el nabvar, se observan los elementos
            $("#navbar").mouseover(function(){
                $(".navigation > ul >li").css("opacity", "1");
                $(".indicator").css("opacity", "1");
                $(".navigation > ul >li").css("visibility", "visible");
                $(".indicator").css("visibility", "visible");
                $("#navbar > .user > #userName").css("visibility", "visible");
                $("#navbar > .user > #userName").css("opacity", "1");
            });
            // Si el mouse no está sobre el nabvar, no se observan los elementos
            $("#navbar").mouseout(function(){
                $(".navigation > ul >li").css("opacity", "0");
                $(".indicator").css("opacity", "0");
                $(".navigation > ul >li").css("visibility", "hidden");
                $(".indicator").css("visibility", "hidden");
                $("#navbar > .user > #userName").css("visibility", "hidden");
                $("#navbar > .user > #userName").css("opacity", "0");
            });
        });
        // Funcion para el .list que llevará un despliegue
        $("li.list.home").on("click",function() {
          // Se agrega la clase .des1 cuando se clickea en el list con despliegue
          document.querySelector("li.list.home").classList.toggle("des1");
        });
        $("li.list.cogs").on("click",function() {
          // Se agrega la clase .des1 cuando se clickea en el list con despliegue
          document.querySelector("li.list.cogs").classList.toggle("des1");
        });
        $("li.list.file").on("click",function() {
          // Se agrega la clase .des1 cuando se clickea en el list con despliegue
          document.querySelector("li.list.file").classList.toggle("des1");
        });
        $("li.list.combu").on("click",function() {
          // Se agrega la clase .des1 cuando se clickea en el list con despliegue
          document.querySelector("li.list.combu").classList.toggle("des1");
        });
        // Se elimina la clase .des1 cuando se clickea fuera de él
        $(document).on("click",function(e) {
          const cogs = $("li.list.cogs");
          const home = $("li.list.home");
          const file = $("li.list.file");
          const combu = $("li.list.combu");

          if (!cogs.is(e.target) && cogs.has(e.target).length === 0) { 
            document.querySelector("li.list.cogs").classList.remove("des1");
          }
          if(!home.is(e.target) && home.has(e.target).length === 0){
            document.querySelector("li.list.home").classList.remove("des1");
          }
          if(!combu.is(e.target) && combu.has(e.target).length === 0){
            document.querySelector("li.list.combu").classList.remove("des1");
          }
          if(!file.is(e.target) && file.has(e.target).length === 0){
            document.querySelector("li.list.file").classList.remove("des1");
          }
        });
        // Se elimina la clase .des1 al ocultarse el navbar
/*         $("#navbar").on("mouseleave",function(e) {
          const container = $("li.list.cogs");

          if (!container.is(e.target) && container.has(e.target).length === 0) { 
            document.querySelector("li.list.cogs").classList.remove("des1");
          }
        }); */
        </script>
    </div>
    
    <div class="modal fade" id="popup"></div>

        {% block contenido %}
        {% endblock %}
    
        
<!-- Bootstrap core JavaScript-->
<script src="{% static  'base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static  'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static  'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static  'base/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'base/vendor/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  

<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



<script src="{% static  'base/js/jquery.chained.min.js' %}"></script>


{% block js %} {% endblock %}
{% block control_modal %}
<script>
    function abrir_modal(url)
    {

      $("#popup").load(url, function(){
        $(this).modal({
          backdrop:'static',
          keyboard: false
        })
        $(this).modal('show');
      });
      return false;
    }

    function cerrar_modal()
    {
      $('#popup').modal('hide');
      return false;
    }   
</script>
{% endblock %}


    </body>
</html>