<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Buscar Cliente
                        </div>
                        <div class="dropdown-divider"></div>
                        
                        <div class="row">
                                <table
                                id="tblProducto"
                                data-paginatio  n="true"
                                data-search="true"
                                {% comment %} data-show-columns="true" {% endcomment %}
                                {% comment %} data-show-fullscreen="true" {% endcomment %}
                                data-locale="es-NI"
                                >
                                <thead>
                                        
                                  <th data-sortable="true" data-field="codigo_cliente">Código</th>
                                  <th data-sortable="true" data-field="razonsoc">Nombre</th>
                                  <th data-field="direccion">Direccion</th>
                                  <th data-field="telefono">Telefono</th>
                                  
                                  <th class="all">Acciones</th>
                                </thead>
                                <tbody>
                                  {% for item in obj%}
                                  <tr>
                                    
                                    <td>{{ item.codigo_cliente }}</td>
                                    <td>{{ item.razonsoc }}</td>
                                    <td>{{item.direccion}}</td>
                                    <td>{{item.telefono}}</td>
                                    
                                    <td>
                                        {% if item.estado %}
                                        <button class="btn btn-warning btn-circle" id="btnSelect" 
                                        onclick="seleccionarcliente('{{item.codigo_cliente}}','{{item.razonsoc}}','{{item.direccion}}','{{item.telefono}}')">
                                            <i class="far fa-hand-pointer"></i>
                                        </button>
                                        {% endif %}
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <!-- <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button> -->
                                <button type="button" id="btnCancelar" class="btn btn-success">
                                        <!-- onclick="return cerrar_modal()" -->
                                        Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% block js_page %}
<script>
    $(function () {

        $("#btnCancelar").click(function(e){
            e.preventDefault();
            cerrar_modal();

        });
    });
    $('#tblProducto').bootstrapTable();

    function seleccionarcliente(codigo_cliente,remitente,dirrem,tel){
        $("#id_codigo_cliente").val(codigo_cliente);
        $("#id_remitente").val(remitente);
        $("#id_dirrem").val(dirrem);
        $("#id_tel").val(tel);
        $("#btnCancelar").click();
        $("#id_codigo_cliente").select();
        $("#id_codigo_cliente").focus();

    }

</script>
{% endblock %}