{% extends 'base/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<br><br>

            <div class="row ing_bod">
                    <div class="card ing_bod">
                        <div class="cardbody">
                        
                            <h2>Ingreso  Bodega</h2>
                            <hr>
                            <form action="" method="post" enctype="multipart/form-data">

                              <input type="hidden" name="csrfmiddlewaretoken" value="SOB4qgiiXeoyAk2CCkjWvyWQifri7NZ1SQPooBH2kcF7VaNqkxqw7luhAsJraSSe">
                              <div class="form-row saliendodelpaso">
                                  <div class="form-group no_bodega col-md-6 mb-5">
                                    <div id="div_id_bodega" class="control-group">
                                      <label for="id_bodega" class="control-label requiredField">
                                          Nombre de Bodega<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" name="bodega" maxlength="50" class="form-control textinput textInput" required id="id_bodega">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group fecha_ingreso col-md-6 mb-5">
                                    <div id="div_id_fecha" class="control-group">
                                      <label for="id_fecha" class="control-label requiredField">
                                          Fecha ingreso Bodega<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                              <input type="text" name="fecha" class="form-control datetimeinput" required id="id_fecha">
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="form-row saliendodelpaso">
                                  <div class="form-group ruta_entrega col-md-6 mb-5">
                                    <div id="div_id_ruta" class="control-group">
                                      <label for="id_ruta" class="control-label requiredField">
                                          Ruta Entrega<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                        <select name="ruta" class="form-control select" required id="id_ruta">
                                          <option value="" selected>---------</option>
                                          <option value="1">R1</option>
                                        </select>  
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group piloto_ruta col-md-6 mb-5">
                                    <div id="div_id_piloto" class="control-group">
                                      <label for="id_piloto" class="control-label requiredField">
                                          Piloto de ruta<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                        <select name="piloto" class="form-control select" required id="id_piloto">
                                          <option value="" selected>---------</option>
                                          <option value="1">ROMAN BARRERA</option>
                                          <option value="2">JOSE MARROQUIN</option>
                                          <option value="3">LUIS GODOY</option>
                                        </select> 
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="form-row saliendodelpaso">
                            <!--<div class="form-group ruta_entrega col-md-6 mb-5">
                                  <div id="div_id_ruta" class="control-group">
                                          <label for="id_ruta" class="control-label requiredField">
                                              Ruta Entrega<span class="asteriskField">*</span>
                                          </label>
                                          <div class="controls">
                                            <select name="ruta" class="form-control select" required id="id_ruta">
                                              <option value="" selected>---------</option>
                                              <option value="1">R1</option>
                                            </select>
                                          </div>
                                  </div>
                                </div>-->
                                <div class="form-group auxiliar_ruta col-md-6 mb-5">
                                    <div id="div_id_auxliar" class="control-group">
                                      <label for="id_auxliar" class="control-label requiredField">
                                          Auxiliar de ruta<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                              <input type="text" name="auxliar" maxlength="50" class="form-control textinput textInput" required id="id_auxliar">
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div id="div_id_personalrecibe" class="control-group">
                                <label for="id_personalrecibe" class="control-label requiredField">
                                    Personal Que Recibe<span class="asteriskField">*</span>
                                </label>
                                <div class="controls">
                                        <input type="text" name="personalrecibe" maxlength="50" class="form-control textinput textInput" required id="id_personalrecibe">
                                </div>
                              </div>
                              <div class="form-row ing_bod col2">
                                <div class="datos_guia">
                                  <div id="div_id_noguia" class="control-group">
                                    <label for="id_noguia" class="control-label requiredField">
                                        Numero de guia<span class="asteriskField">*</span>
                                    </label>
                                    <div class="controls">
                                      <input type="text" name="noguia" maxlength="6" class="form-control textinput textInput" required id="id_noguia">
                                    </div>
                                  </div>
                                  <div id="div_id_guiamadre" class="control-group">
                                      <label for="id_guiamadre" class="control-label requiredField">
                                          Ultima guia madre escaneada<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="number" name="guiamadre" class="form-control numberinput" required id="id_guiamadre">
                                      </div>
                                  </div>
                                  <div id="div_id_guiahija" class="control-group">
                                    <label for="id_guiahija" class="control-label requiredField">
                                        Ultima guia Hija escaneada<span class="asteriskField">*</span>
                                    </label>
                                    <div class="controls">
                                      <input type="text" name="guiahija" maxlength="50" class="form-control textinput textInput" required id="id_guiahija">
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row totales ing_bod col2">
                                  <div class="form-group total">
                                    <div id="div_id_piezas" class="control-group">
                                      <label for="id_piezas" class="control-label requiredField">
                                          Total Piezas<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="number" name="piezas" class="form-control numberinput" required id="id_piezas">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group total">
                                    <div id="div_id_guias" class="control-group">
                                      <label for="id_guias" class="control-label requiredField">
                                          Total Guias<span class="asteriskField">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="number" name="guias" class="form-control numberinput" required id="id_guias">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex justify-content-end" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-warning"><i class="fas fa-print"></i> Imprimir</button>
                                <button type="button" class="btn btn-success"><i class="fas fa-file-excel"></i> Excel</button>
                                <button type="button" class="btn btn-danger"><i class="fas fa-power-off"></i><a href="{% url 'bases:home'%}">Salir</a> </button>
                                
                              </div>
                              <div class="ing_guiGrid col2">
                                <p>
                                    <label for="id_codigo_desti">Codigo Dest:</label> 
                                    <input type="text" name="codigo_desti" maxlength="8" required id="id_codigo_desti" readonly></p>
                                <p><label for="id_destinatario">Destinatario:</label> 
                                  <input type="text" name="destinatario" maxlength="100" required id="id_destinatario" readonly></p>
                            </div>
                            <div class="ing_guiGrid col1">
                                <p>
                                    <label for="id_dirdes">Direccion Dest:</label>
                                    <input type="text" name="dirdes" maxlength="300" required id="id_dirdes" readonly>
                                </p>
                            </div>
                            <div class="ing_guiGrid col5">
                                <p>
                                    <label for="id_teldes">Telefono:</label>
                                    <input type="text" name="teldes" maxlength="9" required id="id_teldes" readonly>
                                </p>
                                <p>
                                    <label for="id_zonades">Zona:</label>
                                    <input type="text" name="zonades" maxlength="2" required id="id_zonades" readonly>
                                </p>
                                <p>
                                    <label for="id_munides">Municipio:</label>
                                    <input type="text" name="munides" maxlength="50" required id="id_munides" readonly>
                                </p>
                                <p>
                                    <label for="id_destino">Destino:</label>
                                    <input type="text" name="destino" maxlength="50" required id="id_destino" readonly>
                                </p>
                                <p>
                                    <label for="id_rutades">Ruta:</label>
                                    <input type="text" name="rutades" maxlength="3" required id="id_rutades" readonly>
                                </p>
                            </div>
                    {{ mensaje }}
                      </div>
                    </div>
</div>
{% endblock %}