<div class="modal-dialog modal_lg">
    <div class="modal-content">
       
        <form method="POST" role="form" class="form-inline" action="{% url 'link:tarifario_new' %}">

            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                               
                            </div>
                            <div class="dropdown-divider"></div>
                            {% csrf_token %}
                            <div class="row">
                                {{ form.as_p }} 
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-danger val"><span class="fa fa-save"></span> Guardar</button>
                                    <!--<a href="{% url 'link:departamento_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>-->
                                    <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                     Salir   
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </form>
        <script>
            // Función que verifica si hay más paquetes
            var masPro = document.querySelector(".sel");
            if(masPro){
                var cantidadEnvios = document.querySelectorAll(".sel")
                var idcant = document.querySelector("#id_cantidad");
                if ($('#id_cantidad').val() > 1) {
                    
                    // var val = document.querySelector(".val");
                    // val.classList.add("inactivo")
                    // val.disabled = true;
                }
            }else{
                console.log("NO EXISTE:(!")
            }
            // Función coloca mismo número que No. Guía a Guía Madre
            const codNog = $('input#id_no_guia');
            const codGuiaM = $('input#id_guia_madre');

            codGuiaM.val(codNog.val())
        </script>
    </div>
</div>