{% extends 'base/base.html' %}

{% block contenido %}
    <br><br>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div class="row ing_gui">

        <div class="card ing_gui">
            <div class="cardbody">
                <h2>Ingreso de Guías</h2>
                <hr>
                <form method="POST" role="form" class="form-inline" name="ing_gui">
                    {% csrf_token %}
                    <!-- {{ form }} -->
                    <div class="ing_guiGrid col3">
                    <p>
                        <label for="id_no_guia">No. Guia:</label>
                        <input autofocus type="text" class="form-control" name="no_guia" maxlength="6" required="required" id="id_no_guia">
                    </p>
                    <p>
                        <label for="id_fecha">Fecha:</label>
                        <input type="date" class="form-control" name="fecha" required="required" id="id_fecha">
                    </p>
                    <p>
                        <label for="id_no_manifiesto">No manifiesto:</label>
                        <input type="text" class="form-control" name="no_manifiesto" maxlength="5" required="required" id="id_no_manifiesto">
                    </p>
                </div>
                <div class="ing_guiGrid col2">
                    <p>
                        <label for="id_codigo_cliente">Codigo cliente:</label>
                        <input type="text" class="form-control" name="codigo_cliente" required="required" id="id_codigo_cliente">
                    </p>
                    <p>
                        <label for="id_remitente">Nombre Remitente:</label>
                        <input type="text" class="form-control" name="remitente" maxlength="200" required="required" id="id_remitente">
                    </p>
                </div>
                <div class="ing_guiGrid col1">
                    <p>
                        <label for="id_dirrem">Direccion Remitente:</label>
                        <input type="text" class="form-control" name="dirrem" maxlength="300" required="required" id="id_dirrem">
                    </p>
                </div>
                <div class="ing_guiGrid col5">
                    <p>
                        <label for="id_tel">No. Telefono:</label>
                        <input type="text" class="form-control" name="tel" maxlength="9" required="required" id="id_tel">
                    </p>
                    <p>
                        <label for="id_zona">Zona:</label>
                        <input type="text" class="form-control" name="zona" maxlength="2" required="required" id="id_zona">
                    </p>
                    <p>
                        <label for="id_muni">Municipio:</label>
                        <input type="text" class="form-control" name="muni" maxlength="50" required="required" id="id_muni">
                    </p>
                    <p>
                        <label for="id_origen">Origen:</label>
                        <input type="text" class="form-control" name="origen" maxlength="3" required="required" id="id_origen">
                    </p>
                    <p>
                        <label for="id_ruta">Ruta:</label>
                        <input type="text" class="form-control" name="ruta" maxlength="50" required="required" id="id_ruta">
                    </p>
                </div>
                <div class="ing_guiGrid col2">
                    <p>
                        <label for="id_codigo_desti">Codigo Dest:</label>
                        <input type="text" class="form-control" name="codigo_desti" maxlength="50" required="required" id="id_codigo_desti">
                    </p>
                    <p>
                        <label for="id_destinatario">Nombre Destinatario:</label>
                        <input type="text" class="form-control" name="destinatario" maxlength="100" required="required" id="id_destinatario">
                    </p>
                </div>
                <div class="ing_guiGrid col1">
                    <p>
                        <label for="id_dirdes">Direccion Destinatario:</label>
                        <input type="text" class="form-control" name="dirdes" maxlength="300" required="required" id="id_dirdes">
                    </p>
                </div>
                <div class="ing_guiGrid col5">
                    <p>
                        <label for="id_teldes">No. Telefono:</label>
                        <input type="text" class="form-control" name="teldes" maxlength="9" required="required" id="id_teldes">
                    </p>
                    <p>
                        <label for="id_zonades">Zona:</label>
                        <input type="text" class="form-control" name="zonades" maxlength="2" required="required" id="id_zonades">
                    </p>
                    <p>
                        <label for="id_munides">Municipio:</label>
                        <input type="text" class="form-control" name="munides" maxlength="50" required="required" id="id_munides">
                    </p>
                    <p>
                        <label for="id_destino">Codigo Destino:</label>
                        <input type="text" class="form-control" name="destino" maxlength="3" required="required" id="id_destino">
                    </p>
                    <p>
                        <label for="id_rutades">Ruta Dest:</label> 
                        <input type="text" class="form-control" name="rutades" maxlength="50" required="required" id="id_rutades">
                    </p>
                </div>
                <!-- FIN SECCION DATOS DE ENVIO  -->
                <!-- INICIA FORMA DE PAGO  -->
                <p>
                    <label for="id_nombre">Forma De Pago:</label>
                    <input type="text" class="form-control" name="nombre" maxlength="100" required="required" id="id_nombre">
                </p>
                <!-- FINALIZA FORMA DE PAGO  -->

                <!-- INICIA SECCION DE AGREGAR PRODUCTO  -->
                <div class="ing_guiGrid col6">
                    <p>
                        <label for="id_observa">Observaciones:</label>
                        <textarea class="form-control" name="observa" cols="40" rows="10" maxlength="500" required="required" id="id_observa"></textarea>
                    </p>
                    <p>
                        <label for="id_tipo_envio">Envio:</label>
                        <input type="text" class="form-control" name="tipo_envio" required="required" id="id_tipo_envio">
                    </p>
                    <p>
                        <label for="id_descripcion">Descripcion:</label>
                        <input type="text" class="form-control" name="descripcion" maxlength="150" required="required" id="id_descripcion">
                    </p>
                    <p>
                        <label for="id_cantidad">Cantidad:</label>
                        <input type="number" class="form-control" name="cantidad" min="0" value="0" required="required" id="id_cantidad">
                    </p>
                    <p>
                        <label for="id_peso">Peso:</label>
                        <input type="number" class="form-control" name="peso" min="0" value="0" step="any" required="required" id="id_peso">
                    </p>
                    <p>
                        <label for="id_precio">Tarifa:</label>
                        <input type="number" class="form-control" name="precio" min="0" value="0" step="any" required="required" id="id_precio">
                    </p>
                </div>
                <div>
                    <div class="switch-button">
                        <input type="checkbox" class="form-control" name="switch-button" id="switch-label" class="switch-button__checkbox">
                        <label for="switch-label" class="switch-button__label"></label>
                    </div>
                </div>
                <div class="ing_guiGrid col3 anim hide">
                    <p>
                        <label for="id_observa">No. Boleta Contra Entrega:</label>
                        <input type="text" class="form-control" name="boleta_cte" cols="40" rows="10" maxlength="500"  id="id_boleta_cte">
                    </p>
                    <p>
                        <label for="id_tipo_envio">Valor Total Envio:</label>
                        <input type="text" class="form-control" name="ptpae" id="id_ptpae">
                    </p>
                    <p>
                        <label for="id_descripcion">Comision:</label>
                        <input type="text" class="form-control" name="comision" maxlength="150" id="id_comision">
                    </p>
                </div>
                <div class="ing_guiGrid col1  alt1">
                    <p>
                        <label for="descuento">Descuento</label>
                        <input type="number" class="form-control" min="0" name="descuento" value="0.00" id="id_descuento">
                    </p>
                    <p>
                        <label for="sub_total">Sub Total</label>
                        <input type="number" title="No puedes modificar este campo" class="form-control" name="sub_total" id="id_sub_total" placeholder="Sub Total" value="0.00" readonly>
                    </p>
                    <p>
                        <label for="total">Total</label>
                        <input type="number" title="No puedes modificar este campo" class="form-control" name="total" id="id_total" placeholder="Total" value="0.00" readonly>
                    </p>
                </div>
                <!-- FINALIZA SECCION AGREGAR PRODUCTO  -->
               
                <hr>
                <!-- INICIA SECCION DE DETALLE ENVIO  -->

                <!-- FINALIZA SECCION DETALLE ENVIO  -->
                <div class="ing_guiGrid col1 alt2">
                    <div>
                        <button type="submit" class="btn btn-danger"><i class="fas fa-save"></i> Guardar</button>
                        <!--<a href="{% url 'link:departamento_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>-->
                        <button type="reset" class="btn btn-success"><i class="fa fa-undo"></i> Cancelar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function calcular_detalle(){
            var cant = $("#id_cantidad").val();
            var prec =$('#id_precio').val();
            var desc = $('#id_descuento').val();
            var stotal = cant * prec;
            var total  = stotal - desc;

            $('#id_sub_total').val(stotal);
            $('#id_total').val(total);
        }
        function buscarCliente()
        {    
            var codigo = $("#id_codigo_cliente").val();
            if(codigo===""){
                return false;
            }
    
            var path = "{% url 'api:cliente_list' %}" + codigo;
            $.ajax({
                type:"GET",
                url: path,
                success: function(r){
                    console.log(r);
                    //console.log(r.existencia);
                    console.log(r.estado);
    
                    if(!r.estado){
                        mensaje("Cliente inexistente o inactivo",'orange');
                        $("#id_codigo_cliente").val("");
                        $("#id_remitente").val("");
                        $("#id_dirrem").val("");
                        $("#id_tel").val("");
                        $("#id_muni").val("");
                        $("#id_origen").val("");
                        $("#id_codigo_cliente").focus();
                        return false;
                    }else{
                    $("#id_codigo_cliente").val(r.codigo_cliente);
                    $("#id_remitente").val(r.razonsoc);
                    $("#id_dirrem").val(r.direccion);
                    $("#id_tel").val(r.telefono);
                    $("#id_muni").val(r.municipio);
                    $("#id_origen").val(r.depto);
                    $("#id_codigo_cliente").focus();
                    }
    
                },
                error: function(a,b,c){
                    console.log(a);
                    // console.log(b);
                    // console.log(c);
                    // console.log(a.status)
                    // console.log(a.responseText.detail);
                    // a.responseText["detail"]
                    // mensaje(c,'red');
                    if(a.status==404){
                        mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                        $("#id_codigo_cliente").val("");
                        $("#id_remitente").val("");
                        $("#id_dirrem").val("");
                        $("#id_codigo_cliente").focus();
                    }
    
                }
    
            });

           
        }

        function buscarClientedes()
        {    
            var codigo = $("#id_codigo_desti").val();
            if(codigo===""){
                return false;
            }
    
            var path = "{% url 'api:cliente_list' %}" + codigo;
            $.ajax({
                type:"GET",
                url: path,
                success: function(r){
                    console.log(r);
                    //console.log(r.existencia);
                    console.log(r.estado);
    
                    if(!r.estado){
                        mensaje("Cliente inexistente o inactivo",'orange');
                        $("#id_codigo_desti").val("");
                        $("#id_destinatario").val("");
                        $("#id_dirdes").val("");
                        $("#id_teldes").val("");
                        $("#id_munides").val("");
                        $("#id_destino").val("");
                        $("#id_codigo_desti").focus();
                        return false;
                    }else{
                    $("#id_codigo_desti").val(r.codigo_cliente);
                    $("#id_destinatario").val(r.razonsoc);
                    $("#id_dirdes").val(r.direccion);
                    $("#id_teldes").val(r.telefono);
                    $("#id_munides").val(r.municipio);
                    $("#id_destino").val(r.depto);
                    $("#id_codigo_desti").focus();
                    }
    
                },
                error: function(a,b,c){
                    console.log(a);
                    // console.log(b);
                    // console.log(c);
                    // console.log(a.status)
                    // console.log(a.responseText.detail);
                    // a.responseText["detail"]
                    // mensaje(c,'red');
                    if(a.status==404){
                        mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                        $("#id_codigo_desti").val("");
                        $("#id_destinatario").val("");
                        $("#id_dirdes").val("");
                        $("#id_codigo_desti").focus();
                    }
    
                }
    
            });

           
        }

        function buscarProducto()
    {
        var codigo = $("#id_tipo_envio").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:producto_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Producto No Tiene Existencia o está inactivo",'orange')
                    $("#id_tipo_envio").val("");
                    $("#id_descripcion").val("");
                    $("#id_precio").val("0.00");
                    $("#id_tipo_envio").focus();
                    return false;
                }

                $("#id_tipo_envio").val(r.id);
                $("#id_descripcion").val(r.descripcion);
                $("#id_precio").val(r.precio);
                $("#id_tipo_envio").focus();

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Producto -" + codigo + "- No Encontrado o No Existe",'red');
                    $("#id_tipo_envio").val("");
                    $("#id_descripcion").val("");
                    $("#id_precio").val("0.00");
                    $("#id_tipo_envio").focus();
                }

            }

        });
    }

    $("#id_codigo_cliente").change(function(e){
            buscarCliente();
    });
    $("#id_codigo_desti").change(function(e){
            buscarClientedes();
    });
    $("#id_tipo_envio").change(function(e){
            buscarProducto();
    });
    $("#id_cantidad").change(function(e){
            calcular_detalle();
    });
    
    // Funcion que agrega guión(-) al escribir 3 caracteres
    var idco = $("input#id_codigo_cliente");
    var idcodes = $("input#id_codigo_desti");
    // Código Cliente Funcion
    idco.keyup(function(event) {
        if (event.keyCode !== 8) {
            value = idco.val()

            if (value.length == 3) {
                idco.val(value + '-');
            }
        }
    })
    idcodes.keyup(function(event) {
        if (event.keyCode !== 8) {
            value = idcodes.val()

            if (value.length == 3) {
                idcodes.val(value + '-');
            }
        }
    })
    // Función para abrir popup de confirmación No.Guia
/*     $( ".boton-modal").click(function() {
        Swal.fire({
            title: '<strong>Confirmación del <u>No. Guía</u></strong>',
            icon: 'info',
            html:
                '<input type="text" id="conf_noguia" placeholder="Introduce nuevamente el No. Guía"><br><br>',
            showCloseButton: true,
            showConfirmButton: false,
        });

        const conf = $('input#conf_noguia');
        const codNog = $('input#id_no_guia');

        conf.change(function(){
            if (conf.val() == codNog.val()) {
                Swal.close()
                document.ing_guias.submit()
                
            }else{
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'No. Guía no coincide. ¡Intentalo de nuevo!',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true
                })
            }
        })
    }); */
    // Funcion para comprobar el estado del checkbox
    $('#switch-label').prop("checked", false);
    $('#switch-label').click(function(){
        if($('#switch-label').is(":checked")){
            $('.ing_guiGrid.col3.anim.hide').removeClass('hide');
        }else{
            $('.ing_guiGrid.col3.anim').addClass('hide');
        }
    });
    // Funcion para pasar a mayusculas datos de los inputs
    $(document).ready( function () {
        $("input").on("keypress", function () {
            $input=$(this);
            setTimeout(function () {
                $input.val($input.val().toUpperCase());
            },50);
        })
    });
    // Funcion para poner siempre fecha actual
    Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });
    $(document).ready( function() {
        $('#id_fecha').val(new Date().toDateInputValue());
    });
    
    </script>
{% endblock %}