<div class="modal-dialog modal_lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'link:municipio_edit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'link:municipio_new' %}">
        {% endif %}

            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Municipio
                            </div>
                            <div class="dropdown-divider"></div>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-5">
                                    <div class="input-group">
                                        <!--<input type="text" name="nombre" maxlength="100" class="form-control" required id="id_nombre" placeholder="Nombre"
                                        value="{% if obj %} {{ obj.nombre }} {% endif %}">-->
                                        {{ form.depto }}
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <!--<input type="text" name="iniciales" maxlength="3" class="form-control" required id="id_iniciales" placeholder="Prefijo" 
                                        value="{% if obj %} {{ obj.iniciales}} {% endif %}">-->
                                    {{ form.muni }}
                                    </div> 
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <!--<label for="id_estado">Estado</label>
                                        <input type="checkbox" name="estado" class="form-control" id="id_estado"
                                        {% if obj.estado %} checked {% endif %} >-->
                                        {{ form.estado }}
                                    </div>
                                <!-- {{ form.as_p }} -->
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                    <!--<a href="{% url 'link:municipio_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>-->
                                    <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                     Cancelar   
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>