{% extends 'base/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<br><br>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card_body">
                            <h2>Registrar Nuevo Cliente</h2>
                            <hr>
                    <form action="" method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        <!-- {{ form | crispy }}-->
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.codigo_cliente|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.nit|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.nombre|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.direccion|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.depto|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.municipio|as_crispy_field }}
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.contacto|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.rutadestin|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.ruta|as_crispy_field }}
                            </div>
                                
                            <div class="form-group col-md-6 mb-0">
                                {{ form.observa|as_crispy_field }}
                            </div>
                        </div>
                        <br>
                        
                        <br>
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Guardar" class="btn btn-primary">
                            &nbsp;
                            <input type="reset" value="Cancelar" class="btn btn-secondary">
                        </div>
                        
                    </form>
                    {{ mensaje }}
                </div>
            </div>


    </div>
</div>


{% endblock %}