
{% extends 'base/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

<div>
</div>

<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card_body">
                <h2>Registro de Facturas Consumo de Combustible</h2>
        <hr>
        <form action="" method="POST" enctype="multipart/form-data">
    
            {% csrf_token %}
        
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.fecha|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.hora_llenado|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.placa|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.piloto|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.ruta|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.serie|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.no_factura|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.total|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.galones|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.tipo_combustible|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.bomnba|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.precioxgalon|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.kminicial|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.kmfinal|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.recorrido|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.rendxgalon|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.manifiesto|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.observaciones|as_crispy_field }}
                </div>
            </div>
            <br>
            <hr>
            <div class="d-flex justify-content-end">
                
                <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
                &nbsp;
                <button type="reset" id="btnCancelar" class="btn btn-secondary">Cancelar</button>
            </div> 
            
        </form>
        {{ mensaje }}
            </div>
        </div>
        
    </div>
</div>
<script>
        document.querySelector("div#div_id_fecha div").innerHTML = "<input type='date' name='fecha' class='dateinput form-control' required='' id='id_fecha'>"
        document.querySelector("div#div_id_hora_llenado div").innerHTML = "<input type='time' name='hora_llenado' class='timeinput form-control' required='' id='id_hora_llenado'>"

         $("input#id_galones").focusout(function(){
             var total=$("input#id_total").val();
             var galones=$("input#id_galones").val();
             var precio=total/galones;

             $("div#div_id_precioxgalon div").html("<input type='number' name='precioxgalon' class='numberinput form-control' required='' id='id_precioxgalon' value='" + precio + "'>");
         });
         $("input#id_kmfinal").focusout(function(){
            var ki=$("input#id_kminicial").val();
            var kf=$("input#id_kmfinal").val();
            var recorrido=kf-ki+1;

            $("div#div_id_recorrido div").html("<input type='number' name='recorrido' class='numberinput form-control' required='' id='id_recorrido' value='" + recorrido + "'>");

        });
        $("input#id_rendxgalon").focusin(function(){
            var recor=$("input#id_recorrido").val();
            var galones=$("input#id_galones").val();
            var rendimiento=recor/galones;

            $("div#div_id_rendxgalon div").html("<input type='number' name='rendxgalon' class='numberinput form-control' required='' id='id_rendxgalon' value='" + rendimiento + "'>");
        });

</script>
{% endblock %}