{% extends 'base/base.html' %}

{% block contenido %}
{% load humanize %}
<br><br>
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Facturas de Combustible </h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" onclick="return abrir_modal('{% url 'zelda:registro_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Ingresar Factura</a>
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"></a>
            </div>
        </div>
    </div>
<div class="card-body registro_list">
    {% if not obj %}
    <div class="alert alert-info">No hay facturas de Combustible Registradas</div>
    {% else %}
    <table class="table table-striped table-hover table_registros">
        <thead>
            <th>Fecha</th>
            <th>Hora Llenado</th>
            <th>Placa</th>
            <th>Piloto</th>
            <th>Ruta</th>
            <th>Serie Factura</th>
            <th>No. Factura</th>
            <th>Total Llenado</th>
            <th>Galones Llenados</th>
            <th>Tipo Combustible</th>
            <th>No. Bomba</th>
            <th>Precio Por Galon</th>
            <th>Kilometraje Inicial</th>
            <th>Kilometraje Final</th>
            <th>Recorrido</th>
            <th>Rendimiento Por Galon</th>
            <!-- <th>Manifiesto</th>
            <th>Observaciones</th> -->
            <th>Estado</th>
        </thead>
        <tbody>
            {% for item in obj %} 
            <tr>
                <td> {{ item.fecha | date:'d-m-y'}}</td>
                <td> {{ item.hora_llenado | title}}</td>
                <td> {{ item.placa | title}}</td>
                <td> {{ item.piloto | title}}</td>
                <td> {{ item.ruta | title}}</td>
                <td> {{ item.serie | title}}</td>
                <td> {{ item.no_factura | title}}</td>
                <td> Q. {{ item.total | intcomma }}</td>
                <td> {{ item.galones | title}}</td>
                <td> {{ item.tipo_combustible | title}}</td>
                <td> {{ item.bomnba | title}}</td>
                <td> Q. {{ item.precioxgalon | intcomma }}</td>
                <td> {{ item.kminicial | title}}</td>
                <td> {{ item.kmfinal | title}}</td>
                <td> {{ item.recorrido | title}}</td>
                <td> {{ item.rendimiento | title}}</td>
                <!-- <td> {{ item.manifiesto | title}}</td>
                <td> {{ item.observaciones | title}}</td> -->
                <td onclick="inactivar({{item.id}})">{#item.estado|yesno:"Activo,Inactivo"#}
                {% if item.estado %}
                <i class="far fa-thumbs-up text-primary"></i>
                {% else %}
                <i class="far fa-thumbs-down text-danger"></i>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a href="{% url 'zelda:reporte_registro_excel' %}" class="btn btn-success btn-sm">Generar Reporte</a>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
//inactivar registro
function inactivar(id)
{
    var data = {id:id}
    data = JSON.stringify(data); 
    var token = '{{csrf_token}}';
    //alert(token);
    //alert(id);
    
    $.ajax({
        headers : {"X-CSRFToken": token},
        type:"POST",
        url:"/zelda/registro/estado/"+id,
        data: data,
        success: function(response){
            if(response==="OK")
            {
                location.reload(true);
            }
            else{
                mensaje("Error Intentando Cambiar Estado")
            }
        },
        error: function(jqXHR, textStatus, errorThrow){
            console.log(textStatus, errorThrow);
            mensaje(errorThrow,'red');
            cerrar_modal(); 
        }
    });
}
//llamado a datatables

    $(document).ready(function(){
        $('.table').dataTable();
    });
</script>

{% endblock%}