{% extends 'base/base.html' %}

{% block contenido %}
    <br><br>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <div class="row ing_gui" >

        <div class="card ing_gui">
            <div class="cardbody" >
                <h2>Ingreso de Guías</h2>
                <hr>
                
                  </div>
               
                <form method="POST" name="ing_guias">
                    <!--Esta es la seccion de ingreso de numero de guia fecha y manifiesto -->
                    {{ form.management_form }}
                    {% for fo in form %}
                    <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS"><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"><input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"><input type="hidden" name="form-MAX_NUM_FORMS" value="1" id="id_form-MAX_NUM_FORMS">
                    
                    <p>
<label for="id_form-0-estado">Estado:</label>
<input type="checkbox" name="form-0-estado" class="form-control" id="id_form-0-estado" checked>


</p>


<p>
<label for="id_form-0-tipo_envio">Tipo envio:</label>
<select name="form-0-tipo_envio" class="form-control" id="id_form-0-tipo_envio">
<option value="" selected>---------</option>

<option value="1">SOBRE</option>

<option value="2">PAQUETE</option>

<option value="3">PAGO CONTRA ENTREGA</option>

</select>


</p>


<p>
<label for="id_form-0-descripcion">Descripcion:</label>
<input type="text" name="form-0-descripcion" maxlength="150" class="form-control" id="id_form-0-descripcion">


</p>


<p>
<label for="id_form-0-cantidad">Cantidad:</label>
<input type="number" name="form-0-cantidad" value="0" class="form-control" id="id_form-0-cantidad">


</p>


<p>
<label for="id_form-0-peso">Peso:</label>
<input type="number" name="form-0-peso" value="0" step="any" class="form-control" id="id_form-0-peso">


</p>


<p>
<label for="id_form-0-precio">Tarifa:</label>
<input type="number" name="form-0-precio" value="0" step="any" class="form-control" id="id_form-0-precio">


</p>


<p>
<label for="id_form-0-totenv">Total Envio:</label>
<input type="number" name="form-0-totenv" value="0" step="any" class="form-control" id="id_form-0-totenv">


  

</p>
                    {% endfor %}
                </form>
{% endblock %}