{% extends 'base/base.html' %}

{% block contenido %}
    <br><br>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <div class="row ing_gui" >

        <div class="card ing_gui">
            <div class="cardbody" >
                <h2>Ingreso de Guías</h2>
                <hr>
                
                  </div>
               
                <form method="POST" name="ing_guias">
                    <!--Esta es la seccion de ingreso de numero de guia fecha y manifiesto -->
                    {% csrf_token %}
                   
                    {{ form.as_p }}
                    {{ form2.as_p }}
                    {% comment %} {{ form.management_form }}
                    {% for form2 in form2 %}
                        {{ form2.as_p }}
                    {% endfor %} {% endcomment %}

                    <hr>
                    <div class="ing_guiGrid col1 alt2">
                        <div>
                            <button type="submit" class="btn btn-danger boton-modal guardar"><i class="fas fa-save"></i> Guardar</button>
                            <!--<a href="{% url 'link:departamento_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>-->
                            <button type="button" class="btn btn-success reset"><i class="fa fa-undo"></i> Cancelar</button>
                        </div>
                    </div>
                </form>
   
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(".tipo_envio").change(function(){
        buscarProducto(this.id);
    });
    $(".cantidad").change(function(){
        totalEnv(this.id);
        sumar(); return false;
    });

    function sumar(){
      var totenv = $('.totenv'); 
      var stotal = 0;

      totenv.each(function(){
        stotal += parseFloat($(this).val());
      });
      $('#id_sub_total').val(parseInt(stotal));
    }
    function totalEnv(long_id) {
        var id = long_id.split("_").slice(-1);

        var cant = $("#id_cantidad_" + id).val();
        var prec = $("#id_precio_" + id).val();
        var totalEnv = $("#id_totenv_" + id)

        var opTotenv = cant * prec

        totalEnv.val(opTotenv)
    }
    var contador = 0
    $("#addRow").click(function () {
        contador++
        var html = '';
        html += `<div class="ing_guiGrid col7">
        <p><input type="number" name="tipo_envio[]" required class="form-control" id="id_tipo_envio_` + contador + `" class="tipo_envio"></p>
        <p><input type="text" name="descripcion[]" maxlength="150" required class="form-control" id="id_descripcion_` + contador + `" class="descripcion"></p>
        <p><input type="number" name="cantidad[]" min="0" value="0" required class="form-control" id="id_cantidad_` + contador + `" class="cantidad"></p>
        <p><input type="number" name="peso[]" min="0" value="0" step="any" required class="form-control" id="id_peso_` + contador + `" class="peso"></p>
        <p><input type="number" name="precio[]" min="0" value="0" step="any" required class="form-control" id="id_precio_` + contador + `" class="precio totalTarifa"></p>
        <p><input type="number" name="totenv[]" min="0" value="0" step="any" required class="form-control" id="id_totenv_` + contador + `" class="totenv"></p>
        <p><button type="button" class="btn btn-danger" id="removeRow"><i class="fas fa-times"></i></button></p>
        </div>`;
        $('#newRow').append(html);

        var a = document.querySelectorAll(".tipo_envio")
        a.forEach(function(e){
            e.addEventListener('change', function(){
                buscarProducto(e.id)
            })
        })
        var e = document.querySelectorAll(".cantidad")
        e.forEach(function(x){
            x.addEventListener('change', function(){
                totalEnv(x.id)
                sumar(); return false;
            })
        })
    });
    function buscarProducto(long_id){
        var id = long_id.split("_").slice(-1);
        var codigo = $("#id_tipo_envio_" + id).val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:producto_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Producto No Tiene Existencia o está inactivo",'orange')
                    $("#id_tipo_envio_" + id).val("");
                    $("#id_descripcion_" + id).val("");
                    $("#id_precio_" + id).val("0.00");
                    $("#id_tipo_envio_" + id).focus();
                    return false;
                }

                $("#id_tipo_envio_" + id).val(r.id);
                $("#id_descripcion_" + id).val(r.descripcion);
                $("#id_precio_" + id).val(r.precio);
                $("#id_tipo_envio_" + id).focus();
            },
            error: function(a,b,c){
                console.log(a);
                if(a.status==404){
                    mensaje("Producto -" + codigo + "- No Encontrado o No Existe",'red');
                    $("#id_tipo_envio_" + id).val("");
                    $("#id_descripcion_" + id).val("");
                    $("#id_precio_" + id).val("0.00");
                    $("#id_tipo_envio_" + id).focus();
                }
            }
        });
    }

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('.ing_guiGrid').remove();
        // contador--
    });

    function calcular_comi(){
        var vte = $('#id_ptpae').val();
        var comi = $('#id_comision').val();       
        var res = vte * 0.05;

        $('#id_comision').val(res.toFixed(2));
    }
    function total() {
        var vte = $('#id_ptpae').val();
        var res = vte * 0.05;
        var total  = $('#id_sub_total').val() - $('#id_descuento').val() + res;

        $("#id_total").val(total.toFixed(2))
    }
    function buscarCliente()
    {    
        var codigo = $("#id_codigo_cliente").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:cliente_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Cliente inexistente o inactivo",'orange');
                    $("#id_codigo_cliente").val("");
                    $("#id_remitente").val("");
                    $("#id_dirrem").val("");
                    $("#id_tel").val("");
                    $("#id_muni").val("");
                    $("#id_origen").val("");
                    $("#id_codigo_cliente").focus();
                    return false;
                }else{
                $("#id_codigo_cliente").val(r.codigo_cliente);
                $("#id_remitente").val(r.razonsoc);
                $("#id_dirrem").val(r.direccion);
                $("#id_tel").val(r.telefono);
                $("#id_muni").val(r.municipio);
                $("#id_origen").val(r.depto);
                $("#id_codigo_cliente").focus();
                }

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                    $("#id_codigo_cliente").val("");
                    $("#id_remitente").val("");
                    $("#id_dirrem").val("");
                    $("#id_tel").val("");
                    $("#id_muni").val("");
                    $("#id_origen").val("");
                    $("#id_codigo_cliente").focus();
                }
            }
        });  
    }
    function buscarClientedes()
    {    
        var codigo = $("#id_codigo_desti").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:cliente_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Cliente inexistente o inactivo",'orange');
                    $("#id_codigo_desti").val("");
                    $("#id_destinatario").val("");
                    $("#id_dirdes").val("");
                    $("#id_teldes").val("");
                    $("#id_munides").val("");
                    $("#id_destino").val("");
                    $("#id_codigo_desti").focus();
                    return false;
                }else{
                $("#id_codigo_desti").val(r.codigo_cliente);
                $("#id_destinatario").val(r.razonsoc);
                $("#id_dirdes").val(r.direccion);
                $("#id_teldes").val(r.telefono);
                $("#id_munides").val(r.municipio);
                $("#id_destino").val(r.depto);
                $("#id_codigo_desti").focus();
                }

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                    $("#id_codigo_desti").val("");
                    $("#id_destinatario").val("");
                    $("#id_dirdes").val("");
                    $("#id_codigo_desti").focus();
                }

            }

        });       
    }
    function buscarfpago()
    {    
        var codigo = $("#id_codigo").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:cliente_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Cliente inexistente o inactivo",'orange');
                    $("#id_codigo").val("");
                    $("#id_cliente").val("");
                    
                    $("#id_codigo").focus();
                    return false;
                }else{
                $("#id_codigo").val(r.codigo_cliente);
                $("#id_cliente").val(r.razonsoc);
                $("#id_codigo_desti").focus();
                }

            },
            error: function(a,b,c){
                console.log(a);
               
                if(a.status==404){
                    mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                    $("#id_codigo").val("");
                    $("#id_cliente").val("");
                    $("#id_codigo").focus();
                }

            }

        });
    }
$("#id_codigo_cliente").change(function(e){
    buscarCliente();
});
$("#id_codigo_desti").change(function(e){
    buscarClientedes();
});
$("#id_codigo").change(function(e){
    buscarfpago();
});
$("#id_ptpae").change(function(){
    calcular_comi();
});
$("#id_sub_total").blur(function(){
    total()
})    
// Funcion que agrega guión(-) al escribir 3 caracteres
var idco = $("input#id_codigo_cliente");
var idcodes = $("input#id_codigo_desti");
// Código Cliente Funcion
idco.keyup(function(event) {
    if (event.keyCode !== 8) {
        value = idco.val()

        if (value.length == 3) {
            idco.val(value + '-');
        }
    }
})
idcodes.keyup(function(event) {
    if (event.keyCode !== 8) {
        value = idcodes.val()

        if (value.length == 3) {
            idcodes.val(value + '-');
        }
    }
})
// Función para abrir popup de confirmación No.Guia
$( ".boton-modal.guardar").click(function() {
    Swal.fire({
        title: '<strong>Confirmación del <u>No. Guía</u></strong>',
        icon: 'info',
        html:
            '<input type="text" id="conf_noguia" placeholder="Introduce nuevamente el No. Guía"><br><br>',
        showCloseButton: false,
        showConfirmButton: false,
    });

    const conf = $('input#conf_noguia');
    const codNog = $('input#id_no_guia');

    conf.change(function(){
        if (conf.val() == codNog.val()) {
            Swal.close()
            document.ing_guias.submit()
            
        }else{
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'No. Guía no coincide. ¡Intentalo de nuevo!',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true
            })
        }
    })
});
// Funcion para comprobar el estado del checkbox
$('#switch-label').prop("checked", false);
$('#switch-label').click(function(){
    if($('#switch-label').is(":checked")){
        $('.ing_guiGrid.col3.anim.hide').removeClass('hide');
    }else{
        $('.ing_guiGrid.col3.anim').addClass('hide');
    }
});
// Funcion para pasar a mayusculas datos de los inputs
$(document).ready( function () {
    $("input").on("keypress", function () {
        $input=$(this);
        setTimeout(function () {
            $input.val($input.val().toUpperCase());
        },50);
    })
});
// Funcion para poner siempre fecha actual
Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
});

$(document).ready( function() {
    $('#id_fecha').val(new Date().toDateInputValue());
});
// Funcion Abrir Modal buscar_remi
$(document).keydown(function(e){
    if(e.keyCode===113){
        abrir_modal("{% url 'link:buscar_cli' %}")
    }
})
// Funciion abrir modal buscar_desti
$(document).keydown(function(e){
    if(e.keyCode===115){
        alert("SAdkjsaop")
    }
})
// Funcion guardar variable nomanifiesto en cookie
$('#id_no_manifiesto').change(function(){
    var idmani = $('#id_no_manifiesto');
    sessionStorage.setItem('nomanifiesto', idmani.val());
})
$('#id_no_manifiesto').val(sessionStorage.getItem('nomanifiesto'));
// Funcion limpiar formulario
$(".reset").click(function() {
    $('input').not("input[name=no_manifiesto], input[name=fecha]").val("")
})

</script>
{% endblock %}