{% extends 'base/base.html' %}

{% block contenido %}
    <br><br>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <div class="row ing_gui" >

        <div class="card ing_gui">
            <div class="cardbody" >
                <h2>Ingreso de Guías</h2>
                <hr>
                
                  </div>
               
                <form method="POST" name="ing_guias">
                    <!--Esta es la seccion de ingreso de numero de guia fecha y manifiesto -->
                    {% csrf_token %}
                   <!-- {% comment %} Seccion de ingreso guia {% endcomment %} -->
                   <!--  -->               
                  
                    <div class="ing_guiGrid col3">
                    <p>
                        <label for="id_no_guia">Numero guia:</label>
                        <input type="text" name="no_guia" maxlength="6" required id="id_no_guia" onchange="$('#id_no_manifiesto').focus()" onkeyup="this.value=Numeros(this.value)">
                    </p>
                    <p>
                        <label for="id_fecha">Fecha:</label>
                        <input type="text" name="fecha" required id="id_fecha">
                    </p>
                    <p>
                        <label for="id_no_manifiesto">Numero Manifiesto:</label>
                        <input type="text" name="no_manifiesto" maxlength="5" required id="id_no_manifiesto">
                    </p>
                </div>
                <div class="ing_guiGrid col2">
                    <p>
                        <label for="id_codigo_cliente">Codigo Cliente:</label>
                        <input type="text" name="codigo_cliente" maxlength="8" required id="id_codigo_cliente">
                    </p>
                    <p>
                        <label for="id_remitente">Remitente:</label>
                        <input type="text" name="remitente" maxlength="200" required id="id_remitente">
                    </p>
                </div>
                <div class="ing_guiGrid col1">
                    <p>
                        <label for="id_dirrem">Direccion Remitente:</label>
                        <input type="text" name="dirrem" maxlength="300" required id="id_dirrem">
                    </p>
                </div>
                <div class="ing_guiGrid col5">
                    <p>
                        <label for="id_tel">Telefono:</label>
                        <input type="text" name="tel" maxlength="9" required id="id_tel">
                    </p>
                    <p>
                        <label for="id_zona">Zona:</label>
                        <input type="text" name="zona" maxlength="2" required id="id_zona">
                    </p>
                    <p>
                        <label for="id_muni">Municipio:</label>
                        <input type="text" name="muni" maxlength="50" required id="id_muni">
                    </p>
                    <p>
                        <label for="id_origen">Origen:</label>
                        <input type="text" name="origen" maxlength="50" required id="id_origen">
                    </p>
                    <p>
                        <label for="id_ruta">Ruta:</label>
                        <input type="text" name="ruta" maxlength="3" required id="id_ruta">
                    </p>
                </div>
                <div class="ing_guiGrid col2">
                    <p>
                        <label for="id_codigo_desti">Codigo Dest:</label> <input type="text" name="codigo_desti" maxlength="8" required id="id_codigo_desti"></p>
                    <p><label for="id_destinatario">Destinatario:</label> <input type="text" name="destinatario" maxlength="100" required id="id_destinatario"></p>
                </div>
                <div class="ing_guiGrid col1">
                    <p>
                        <label for="id_dirdes">Direccion Dest:</label>
                        <input type="text" name="dirdes" maxlength="300" required id="id_dirdes">
                    </p>
                </div>
                <div class="ing_guiGrid col5">
                    <p>
                        <label for="id_teldes">Telefono:</label>
                        <input type="text" name="teldes" maxlength="9" required id="id_teldes">
                    </p>
                    <p>
                        <label for="id_zonades">Zona:</label>
                        <input type="text" name="zonades" maxlength="2" required id="id_zonades">
                    </p>
                    <p>
                        <label for="id_munides">Municipio:</label>
                        <input type="text" name="munides" maxlength="50" required id="id_munides">
                    </p>
                    <p>
                        <label for="id_destino">Destino:</label>
                        <input type="text" name="destino" maxlength="50" required id="id_destino">
                    </p>
                    <p>
                        <label for="id_rutades">Ruta:</label>
                        <input type="text" name="rutades" maxlength="3" required id="id_rutades">
                    </p>
                </div>
                <div class="ing_guiGrid col2">
                    <p><label for="id_codigo">Codigo:</label> <input type="text" name="codigo" maxlength="8" required id="id_codigo"></p>
                    <p><label for="id_cliente">Cliente:</label> <input type="text" name="cliente" maxlength="150" required id="id_cliente"></p>
                </div>
                <div class="ing_guiGrid col7" id="moreProducts">
                    <input type="hidden" name="productodet-TOTAL_FORMS" value="1" id="id_productodet-TOTAL_FORMS"><input type="hidden" name="productodet-INITIAL_FORMS" value="0" id="id_productodet-INITIAL_FORMS"><input type="hidden" name="productodet-MIN_NUM_FORMS" value="0" id="id_productodet-MIN_NUM_FORMS"><input type="hidden" name="productodet-MAX_NUM_FORMS" value="1000" id="id_productodet-MAX_NUM_FORMS">
                    
                    <p>
                        <label for="id_productodet-0-tipo_envio">Envio:</label>
                        <input type="number" name="productodet-0-tipo_envio" class="tipo_envio" id="id_productodet-0-tipo_envio">
                    </p>
                    <p>
                        <label for="id_productodet-0-descripcion">Descripcion:</label>
                        <input type="text" name="productodet-0-descripcion" class="formset-field" maxlength="150" id="id_productodet-0-descripcion">
                    </p>
                    <p>
                        <label for="id_productodet-0-cantidad">Cantidad:</label>
                        <input type="text" name="productodet-0-cantidad" value="0" class="formset-field cantidad" id="id_productodet-0-cantidad">
                    </p>
                    <p>
                        <label for="id_productodet-0-peso">Peso:</label>
                        <input type="text" name="productodet-0-peso" value="0" class="formset-field" id="id_productodet-0-peso">
                    </p>
                    <p>
                        <label for="id_productodet-0-precio">Tarifa:</label>
                        <input type="text" name="productodet-0-precio" value="0" class="formset-field" id="id_productodet-0-precio">
                    </p>
                    <p>
                        <label for="id_productodet-0-totenv">Total Envio:</label>
                        <input type="text" name="productodet-0-totenv" value="0" class="formset-field totenv" id="id_productodet-0-totenv">
                        <input type="hidden" name="productodet-0-id" id="id_productodet-0-id">
                    </p><br>
                </div><br>
                <div>
                    <button type="button" class="btn btn-secondary" onclick="agregar_inputs();">AGREGAR</button>
                </div>
                <div>
                    <p>
                        <label for="id_observa">Observaciones:</label>
                        <textarea name="observa" cols="40" rows="10" maxlength="500" required id="id_observa"></textarea>
                    </p>
                </div>
                <div>
                    <div class="switch-button">
                        <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox">
                        <label for="switch-label" class="switch-button__label"></label>
                    </div>
                </div>
                <div class="ing_guiGrid col3 anim hide">
                    <p><label for="id_boleta_cte">No. Boleta CE:</label> <input type="text" name="boleta_cte" maxlength="6" id="id_boleta_cte"></p>
                    <p><label for="id_ptpae">Valor Total Producto:</label> <input type="number" name="ptpae" value="0" step="any" id="id_ptpae"></p>
                    <p><label for="id_comision">Comision:</label> <input type="number" name="comision" value="0" step="any" id="id_comision"></p>
                </div>
                <div class="ing_guiGrid col1  alt1">
                    <p>
                        <label for="id_descuento">Descuento:</label>
                        <input type="number" name="descuento" value="0" step="any" required id="id_descuento">
                    </p>
                    <p>
                        <label for="id_sub_total">Subtotal:</label>
                        <input type="number" name="sub_total" value="0" step="any" required id="id_sub_total">
                    </p>
                    <p>
                        <label for="id_totpieenv">Total Envios:</label>
                        <input type="number" name="totpieenv" value="0" required id="id_totpieenv">
                    </p>
                    <p>
                        <label for="id_total">Total:</label>
                        <input type="number" name="total" value="0" step="any" required id="id_total">
                    </p>
                </div>
                    <!--{{ form.as_p}}

                    {{ formset.management_form }}
                    {% for form_data in formset %}
                        {{ form_data.as_p }}
                    {% endfor %}-->

                    <hr>
                    <div class="ing_guiGrid col1 alt2">
                        <div>
                            <button type="button" class="btn btn-danger boton-modal guardar"><i class="fas fa-save"></i> Guardar</button>
                            <!--<a href="{% url 'link:departamento_list' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>-->
                            <button type="button" class="btn btn-success reset"><i class="fa fa-undo"></i> Cancelar</button>
                        </div>
                    </div>
                </form>
   
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(".tipo_envio").change(function(){
        buscarProducto(this.id);
    });
    $(".cantidad").change(function(){
        totalEnv(this.id);
        sumar(); return false;
    });
    $("#id_sub_total").blur(function(){
        total()
        totalCant()
        $('.guardar').focus()
    });
    function totalEnv(long_id) {
        var id = long_id.split("-").slice(1);

        var cant = $("#id_productodet-" + id[0] + "-cantidad").val();
        var prec = $("#id_productodet-" + id[0] + "-precio").val();
        var totalEnv = $("#id_productodet-" + id[0] + "-totenv")

        var opTotenv = cant * prec

        totalEnv.val(opTotenv)
    }
    function sumar(){
      var totenv = $('.totenv'); 
      var stotal = 0;

      totenv.each(function(){
        stotal += parseFloat($(this).val());
      });
      $('#id_sub_total').val(parseInt(stotal));
    }
    function totalCant() {
      var totCant = $('.cantidad'); 
      var stotalCant = 0;

      totCant.each(function(){
        stotalCant += parseFloat($(this).val());
      });
      $('#id_totpieenv').val(parseInt(stotalCant));
    }
    function calcular_comi(){
        var vte = $('#id_ptpae').val();
        var comi = $('#id_comision');
        var res = vte * 0.05;

        $('#id_comision').val(res.toFixed(2));
    }
    function total() {
        var vte = $('#id_ptpae').val();
        var res = vte * 0.05;
        var total  = $('#id_sub_total').val() - $('#id_descuento').val() + res;

        $("#id_total").val(parseInt(total))
    }
    function buscarProducto(long_id){
        var id = long_id.split("-").slice(1);
        var codigo = $("#id_productodet-" + id[0] + "-tipo_envio").val();

        console.clear()
        console.log(id)
        console.log(long_id)
        console.log(codigo)


        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:producto_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Producto No Tiene Existencia o está inactivo",'orange')
                    $("#id_productodet-" + id[0] + "-descripcion").val("");
                    $("#id_productodet-" + id[0] + "-precio").val("0.00");
                    $("#id_productodet-" + id[0] + "-tipo_envio").focus();
                    return false;
                }

                $("#id_productodet-" + id[0] + "-tipo_envio").val(r.id);
                $("#id_productodet-" + id[0] + "-descripcion").val(r.descripcion);
                $("#id_productodet-" + id[0] + "-precio").val(r.precio);
                //$("#id_productodet-" + id[0] + "-cantidad").focus();
            },
            error: function(a,b,c){
                console.log(a);
                if(a.status==404){
                    mensaje("Producto -" + codigo + "- No Encontrado o No Existe",'red');
                    $("#id_productodet-" + id[0] + "-tipo_envio").val("");
                    $("#id_productodet-" + id[0] + "-descripcion").val("");
                    $("#id_productodet-" + id[0] + "-precio").val("0.00");
                    $("#id_productodet-" + id[0] + "-tipo_envio").focus();
                }
            }
        });
    }
    var total_forms = document.querySelector("#id_productodet-TOTAL_FORMS");
    function agregar_inputs() {
        // nuevos inputs
        var nuevo_input_tipoEnv = document.querySelector("#id_productodet-0-tipo_envio").cloneNode(true)
        var nuevo_input_descripcion = document.querySelector("#id_productodet-0-descripcion").cloneNode(true)
        var nuevo_input_cantidad = document.querySelector("#id_productodet-0-cantidad").cloneNode(true)
        var nuevo_input_peso = document.querySelector("#id_productodet-0-peso").cloneNode(true)
        var nuevo_input_precio = document.querySelector("#id_productodet-0-precio").cloneNode(true)
        var nuevo_input_totEnv = document.querySelector("#id_productodet-0-totenv").cloneNode(true)
        var nuevo_boton_eliminar = '<button type="button" onclick="eliminar_inputs(this.id);" class="btn btn-danger eliminar" id="id_eliminar-' + total_forms.value + '"><i class="fas fa-times-circle"></i></button>'

        //Nuevos names para los inputs
        nuevo_input_tipoEnv.name = 'productodet-' + total_forms.value + '-tipo_envio'
        nuevo_input_descripcion.name = 'productodet-' + total_forms.value + '-descripcion'
        nuevo_input_cantidad.name = 'productodet-' + total_forms.value + '-cantidad'
        nuevo_input_peso.name = 'productodet-' + total_forms.value + '-peso'
        nuevo_input_precio.name = 'productodet-' + total_forms.value + '-precio'
        nuevo_input_totEnv.name = 'productodet-' + total_forms.value + '-totenv'

        //Nuevos ids para los inputs
        nuevo_input_tipoEnv.id = 'id_productodet-' + total_forms.value + '-tipo_envio'
        nuevo_input_descripcion.id = 'id_productodet-' + total_forms.value + '-descripcion'
        nuevo_input_cantidad.id = 'id_productodet-' + total_forms.value + '-cantidad'
        nuevo_input_peso.id = 'id_productodet-' + total_forms.value + '-peso'
        nuevo_input_precio.id = 'id_productodet-' + total_forms.value + '-precio'
        nuevo_input_totEnv.id = 'id_productodet-' + total_forms.value + '-totenv'

        document.querySelector('#moreProducts').appendChild(nuevo_input_tipoEnv)
        document.querySelector('#moreProducts').appendChild(nuevo_input_descripcion)
        document.querySelector('#moreProducts').appendChild(nuevo_input_cantidad)
        document.querySelector('#moreProducts').appendChild(nuevo_input_peso)
        document.querySelector('#moreProducts').appendChild(nuevo_input_precio)
        document.querySelector('#moreProducts').appendChild(nuevo_input_totEnv)
        document.querySelector('#moreProducts').appendChild(nuevo_input_totEnv)
        $('#moreProducts').append(nuevo_boton_eliminar)

        total_forms.value = parseInt(total_forms.value) + 1;

        var a = document.querySelectorAll(".tipo_envio")
        a.forEach(function(e){
            e.addEventListener('change', function(){
                buscarProducto(this.id)
            })
        })

        var e = document.querySelectorAll(".cantidad")
        e.forEach(function(x){
          x.addEventListener('change', function(){
              totalEnv(x.id)
                  sumar(); return false;
          })
        })

    }
    function eliminar_inputs(long_id) {
        var id = long_id.split("-").slice(-1)
        total_forms.value = parseInt(total_forms.value) - 1;
        // nuevos inputs
        var eliminar_input_tipoEnv = document.querySelector("#id_productodet-" + id +"-tipo_envio")
        var eliminar_input_descripcion = document.querySelector("#id_productodet-" + id +"-descripcion")
        var eliminar_input_cantidad = document.querySelector("#id_productodet-" + id +"-cantidad")
        var eliminar_input_peso = document.querySelector("#id_productodet-" + id +"-peso")
        var eliminar_input_precio = document.querySelector("#id_productodet-" + id +"-precio")
        var eliminar_input_totEnv = document.querySelector("#id_productodet-" + id +"-totenv")
        var eliminar_botonEliminar = $("#id_eliminar-" + id)

        document.querySelector('#moreProducts').removeChild(eliminar_input_tipoEnv)
        document.querySelector('#moreProducts').removeChild(eliminar_input_descripcion)
        document.querySelector('#moreProducts').removeChild(eliminar_input_cantidad)
        document.querySelector('#moreProducts').removeChild(eliminar_input_peso)
        document.querySelector('#moreProducts').removeChild(eliminar_input_precio)
        document.querySelector('#moreProducts').removeChild(eliminar_input_totEnv)
        eliminar_botonEliminar.remove()

    }
    function buscarCliente()
    {    
        var codigo = $("#id_codigo_cliente").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:cliente_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Cliente inexistente o inactivo",'orange');
                    $("#id_codigo_cliente").val("");
                    $("#id_remitente").val("");
                    $("#id_dirrem").val("");
                    $("#id_tel").val("");
                    $("#id_muni").val("");
                    $("#id_origen").val("");
                    $("#id_codigo_cliente").focus();
                    return false;
                }else{
                $("#id_codigo_cliente").val(r.codigo_cliente);
                $("#id_remitente").val(r.razonsoc);
                $("#id_dirrem").val(r.direccion);
                $("#id_tel").val(r.telefono);
                $("#id_muni").val(r.municipio);
                $("#id_origen").val(r.depto);
                $("#id_zona").focus();
                }

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                    $("#id_codigo_cliente").val("");
                    $("#id_remitente").val("");
                    $("#id_dirrem").val("");
                    $("#id_tel").val("");
                    $("#id_muni").val("");
                    $("#id_origen").val("");
                    $("#id_codigo_cliente").focus();
                }
            }
        });  
    }
    function buscarClientedes()
    {    
        var codigo = $("#id_codigo_desti").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:cliente_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Cliente inexistente o inactivo",'orange');
                    $("#id_codigo_desti").val("");
                    $("#id_destinatario").val("");
                    $("#id_dirdes").val("");
                    $("#id_teldes").val("");
                    $("#id_munides").val("");
                    $("#id_destino").val("");
                    $("#id_codigo_desti").focus();
                    return false;
                }else{
                $("#id_codigo_desti").val(r.codigo_cliente);
                $("#id_destinatario").val(r.razonsoc);
                $("#id_dirdes").val(r.direccion);
                $("#id_teldes").val(r.telefono);
                $("#id_munides").val(r.municipio);
                $("#id_destino").val(r.depto);
                $("#id_zonades").focus();
                }

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                    $("#id_codigo_desti").val("");
                    $("#id_destinatario").val("");
                    $("#id_dirdes").val("");
                    $("#id_codigo_desti").focus();
                }

            }

        });       
    }
    function buscarfpago()
    {    
        var codigo = $("#id_codigo").val();
        if(codigo===""){
            return false;
        }

        var path = "{% url 'api:cliente_list' %}" + codigo;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                //console.log(r.existencia);
                console.log(r.estado);

                if(!r.estado){
                    mensaje("Cliente inexistente o inactivo",'orange');
                    $("#id_codigo").val("");
                    $("#id_cliente").val("");
                    
                    $("#id_codigo").focus();
                    return false;
                }else{
                $("#id_codigo").val(r.codigo_cliente);
                $("#id_cliente").val(r.razonsoc);
                $("#id_productodet-0-tipo_envio").focus();
                }

            },
            error: function(a,b,c){
                console.log(a);
               
                if(a.status==404){
                    mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente",'red');
                    $("#id_codigo").val("");
                    $("#id_cliente").val("");
                    $("#id_codigo").focus();
                }

            }

        });
    }
    $("#id_codigo_cliente").change(function(e){
        buscarCliente();
    });
    $("#id_codigo_desti").change(function(e){
        buscarClientedes();
    });
    $("#id_codigo").change(function(e){
        buscarfpago();
    });
    $("#id_ptpae").change(function(){
        calcular_comi();
    });
    // Funcion que agrega guión(-) al escribir 3 caracteres
    var idco = $("input#id_codigo_cliente");
    var idcodes = $("input#id_codigo_desti");
    // Código Cliente Funcion
    idco.keyup(function(event) {
        if (event.keyCode !== 8) {
            value = idco.val()

            if (value.length == 3) {
                idco.val(value + '-');
            }
        }
    })
    idcodes.keyup(function(event) {
        if (event.keyCode !== 8) {
            value = idcodes.val()

            if (value.length == 3) {
                idcodes.val(value + '-');
            }
        }
    })
    //Funcion que valida solo números en un input
    function Numeros(string){
        var out = '';
        var filtro = '1234567890';//Caracteres validos
        
        //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
        for (var i=0; i<string.length; i++)
           if (filtro.indexOf(string.charAt(i)) != -1) 
                 //Se añaden a la salida los caracteres validos
             out += string.charAt(i);
        
        //Retornar valor filtrado
        return out;
    } 
    var totpieenv = $('input#id_totpieenv')
    var contadorClicks = 0;
    // Función para abrir popup de confirmación No.Guia
    $( ".boton-modal.guardar").click(function() {
        if ($("#id_no_guia").val() == ""){
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: '¡El campo No. Guía se encuentra vacío!',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true
            })
        }else{
            Swal.fire({
                title: '<strong>Confirmación del <u>No. Guía</u></strong>',
                icon: 'info',
                html:
                    '<input type="text" id="conf_noguia" onkeyup="this.value=Numeros(this.value)" maxlength="6" placeholder="Introduce nuevamente el No. Guía"><br><br>',
                showCloseButton: false,
                showConfirmButton: false,
            });

            var conf = $('input#conf_noguia');
            var codNog = $('input#id_no_guia');
            var totpieenv = $('input#id_totpieenv')

            conf.change(function(){
                if (conf.val() == codNog.val()) {
                    if (totpieenv.val() > 1) {
                        Swal.close()
                        // Guardar valor de no. guia en cookie
                        sessionStorage.setItem('noguiamadre', codNog.val());
                        abrir_modal("{% url 'link:ingreso_hijas' %}")
                    }else{
                        Swal.close()
                        document.ing_guias.submit()
                    }
                    
                }else{
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'No. Guía no coincide. ¡Intentalo de nuevo!',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true
                    })
                }
            })
        }
    });
    // Funcion para comprobar el estado del checkbox
    $('#switch-label').prop("checked", false);
    $('#switch-label').click(function(){
        if($('#switch-label').is(":checked")){
            $('.ing_guiGrid.col3.anim.hide').removeClass('hide');
        }else{
            $('.ing_guiGrid.col3.anim').addClass('hide');
        }
    });
    // Funcion para pasar a mayusculas datos de los inputs
    $(document).ready( function () {
        $("input").on("keypress", function () {
            $input=$(this);
            setTimeout(function () {
                $input.val($input.val().toUpperCase());
            },50);
        })
    });
    // Funcion para poner siempre fecha actual
    Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });

    $(document).ready( function() {
        $('#id_fecha').val(new Date().toDateInputValue());
    });
    // Funcion Abrir Modal buscar_remi
    $(document).keydown(function(e){
        if(e.keyCode===113){
            abrir_modal("{% url 'link:buscar_cli' %}")
        }
    })
    // Funciion abrir modal buscar_desti
    $(document).keydown(function(e){
        if(e.keyCode===115){
            abrir_modal("{% url 'link:buscar_des' %}")
        }
    })
    // Función abrir modal producto
    $(document).keydown(function(e){
        if(e.keyCode===119){
            abrir_modal("{% url 'link:buscar_prod' %}")
        }
    })
    // Funcion guardar variable nomanifiesto en cookie
    $('#id_no_manifiesto').change(function(){
        var idmani = $('#id_no_manifiesto');
        sessionStorage.setItem('nomanifiesto', idmani.val());
    })
    $('#id_no_manifiesto').val(sessionStorage.getItem('nomanifiesto'));
    // Funcion limpiar formulario
    $(".reset").click(function() {
        $('input').not("input[name=no_manifiesto], input[name=fecha]").val("")
    })

</script>
{% endblock %}