{% extends 'base/base.html' %}
{% load static %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% comment %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/hija.css' %}">    
{% endblock %} {% endcomment %}

{% block contenido %} 

	<div class="canvas" id="canvas">
		
	</div>
    <div class="break"></div>

	<section>
		<div class="box">
			<div class="form">
				<h2>IMPRESION DE GUIAS</h2>
				<form>
					<div class="inputBox guiaMadre">
						<input type="text" id="guiaMadre" placeholder="Guia Madre:">
					</div>
					<div class="inputBox piezas">
						<input readonly="readonly" id="piezas" value="2" placeholder="Piezas:">
					</div>
					<div class="inputBox de">
						<input type="number" id="de" placeholder="De:">
					</div>
					<div class="inputBox origen">
						<input type="text" id="origen" placeholder="Origen:">
					</div>
					<div class="inputBox destino">
						<input type="text" id="destino" placeholder="Destino:">
					</div>

					<button type="button" class="print">Imprimir</button>
				</form>
			</div>
		</div>
	</section>
    <script>
        // DATE
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();
        var fecha = `${month}/${day}/${year}`;
    
        $('.fecha').text(fecha);
    
        let contadorDe;
        let piezas;
        let print = $('.print');
        let datos = [$('#guiaMadre'), $('#piezas'), $('#de'), $('#origen'), $('#destino')]
        let etiquetas = [$('.guiaMadre'), $('.piezas'), $('.de'), $('.origen'), $('.destino')]
    
        print.click(()=>{
            piezas = parseInt(datos[1].val());
            contadorDe = parseInt(datos[2].val());

            console.log(contadorDe, piezas);
            imprSelec('canvas');
        })
    
        function imprSelec(nombre) {
            var ficha = document.getElementById(nombre)
            var ventana = window.open(' ', 'popimpr');
            ventana.document.write('<html><head><title>' + document.title + '</title>');
            ventana.document.write('<link rel="stylesheet" href="{% static '/base/css/print.css' %}">'); //Aquí agregué la hoja de estilos
            ventana.document.write('</head><body >');
            //ventana.document.write('<div class="canvas"></div>')
            for(var i = piezas; i <= contadorDe; i++){
                ventana.document.write(
                    ficha.innerHTML = `
                        <div class="guia">
                            <p class="guiaMadre">${datos[0].val()}</p>
                            <p class="fecha">${fecha}</p>
                            <p class="piezas">${i}</p>
                            <p class="de">${datos[2].val()}</p>
                            <p class="origen">${datos[3].val()}</p>
                            <p class="destino">${datos[4].val()}</p>
                        </div>
                        <div class="break"></div>
                    `
                );
            }
            ventana.document.write('</body></html>');
            ventana.document.close();
            setTimeout(()=>{
                ventana.print( );
                ventana.close( );
            }, 100)
        }
    </script>

{% endblock %}

{% block jspage %}


{% endblock %}

	
